.Hola {
    background: linear-gradient(to bottom, #ff0303, #000000);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    
  }

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
  
.Hi{
  background-image: url("https://steamuserimages-a.akamaihd.net/ugc/1661224712069230981/BFD6A13BBBF6F1A2A7FA6A6DA961E0700E98660A/?imw=1024&imh=576&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=true");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  
}

.purple-box{
  background-color: purple;
  width: 800px;
  height: 400px;
  border-radius: 40px;
  position: relative;
  margin: 0 auto;
  align-items: center; /* Centrar verticalmente el contenido */
  justify-content: center;
  

}

#video-frame {
  width: 100%;
  height: 100%;
  border-radius: 40px;
  object-fit: contain;
  
  
}